.f-a-q-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  overflow: auto;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(0deg, rgb(28, 62, 39) 0.00%,rgb(4, 17, 30) 91.00%,rgb(4, 17, 30) 100.00%);
}


.form {
  margin-top: 5em;
  margin-bottom: 5em;
  width: 340px;
  height: 440px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #78788c;
  border-bottom: 3px solid #78788c;
}
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}
input:focus {
  border-bottom: 2px solid #78788c;
}
p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}
button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background: #78788c;
  color: #fff;
}
.form2 {
  position: absolute;
  bottom: -15px;
  right: -20px;
  background: #50505a;
  color: #fff;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000;
}
span {
  margin: 0 5px 0 15px;
}



.f-a-q-footer {
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  margin: auto;
  display: flex;
  position: fixed;
  max-width: 100%;
  background: rgba(255, 255, 255, .0);
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  backdrop-filter: blur(10px);
  justify-content: space-between;
  background-color: rgba(217, 217, 217, 0.36);
  -webkit-backdrop-filter: blur(10px);
}
.f-a-q-text {
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}
.f-a-q-text1 {
  color: #000000;
}
@media(max-width: 1600px) {
  .f-a-q-footer {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .form{
    margin-top: 5em;
    margin-bottom: 7em;
  }
}
@media(max-width: 883px) {
  .f-a-q-footer {
    flex-direction: column;
  }
  .f-a-q-text1 {
    align-self: center;
    text-align: center;
  }
}
@media(max-width: 767px) {
  .f-a-q-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .f-a-q-text1 {
    text-align: center;
    margin-left: 16px;
    margin-right: 16px;
  }
}
@media(max-width: 479px) {
  .f-a-q-footer {
    padding: 16px;
    flex-direction: column;
  }
  .f-a-q-text1 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 16px;
  }
}
@media(max-width: 390px) {
  .f-a-q-footer {
    flex-direction: column;
  }
  .f-a-q-text1 {
    margin: 16px;
  }
}
